NODE_ENV=development
PORT=8080
DATABASE="live_db_url"
DATABASE_LOCAL="local_db_url"
DATABASE_PASSWORD="db_password"
DATABASE_NAME="db_name"
JWT_SECRET=my-ultra-secure-and-ultra-long-secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

MAILGUN_API_KEY="your_mailgun_apikey"
MAILGUN_DOMAIN="your_mailgun_domain"
EMAIL="app_email"

REFERRAL_AMOUNT=1000

PAYSTACK_SECRET_KEY=sk_test_0456b0e86b0ead24bc2cd39b17a34d7be17706a1

CLOUDINARY_API_KEY=your_cloudinary_apikey
CLOUDINARY_API_SECRET=your_cloudinary_apisecret
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloudname
